.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main_sec {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column_part {
  width: 33.33%;
  background-color: bisque;
  margin: 20px;
}